[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/libogg"]
	path = external/libogg
	url = https://github.com/xiph/ogg.git
[submodule "external/libvorbis"]
	path = external/libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
	ignore = dirty
